*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.links {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}
a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}